/*fonts*/
@font-face {
    font-display: swap;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/DINPro/DINPro-Medium.woff') format('woff'),
        url('../fonts/DINPro/DINPro-Medium.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/DINPro/DINPro-Bold.woff') format('woff'),
        url('../fonts/DINPro/DINPro-Bold.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/Arial/Arial-Regular.woff') format('woff'),
        url('../fonts/Arial/Arial-Regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/Arial/Arial-Bold.woff') format('woff'),
        url('../fonts/Arial/Arial-Bold.woff2') format('woff2');
}
/*end fonts*/
