.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: $blue-dark;
    color: #FFFFFF;
    z-index: 100;
    // .header__inner
    &__inner {
        display: flex;
        align-items: stretch;
    }
    // .header__logo
    &__logo {
        flex: 0 0 460px;
    }
    // .header__logo-img
    &__logo-img {
    }
    // .header__menu
    &__menu {
        font-family: DINPro, sans-serif;
        flex: 1;
    }
    // .header__search
    &__search {
        margin-right: 25px;
    }
    // .header__phone"
    &__phone {
        margin-right: 30px;
    }
    // .header__user-menu"
    &__user-menu {
        .collapse-user-menu{
            position: absolute;
            top: 100%;
            right: 15px;
            color: #000000;
            .list-group{
                .list-group-item{
                    padding: 0;
                    a{
                        display: block;
                        padding: 15px 25px;
                    }
                }
            }
        }
    }
}

.header-stretch{
    display: flex;
    align-items: center;
    height: 100%;
}


@media(max-width: $xl){
    .header {
        // .header__inner
        &__inner {
        }
        // .header__logo
        &__logo {
            flex: 0 0 auto;
        }
        // .header__logo-img
        &__logo-img {
        }
        // .header__menu
        &__menu {
            text-align: center;
        }
        // .header__search
        &__search {
        }
        // .header__phone"
        &__phone {
        }
        // .header__user-menu"
        &__user-menu {

        }
    }
}



@media(max-width: $lg){
    .header {
        max-height: 100vh;
        overflow-y: auto;
        padding: 0;
        background: #FFFFFF;
        color: #000000;
        box-shadow: 0px 0px 15px rgb(13 26 54 / 24%);
        // .header__inner
        &__inner {
            flex-direction: column;
            align-items: flex-start;
            padding: 40px 0;
        }
        // .header__logo
        &__logo {
            display: none;
        }
        // // .header__logo-img
        // &__logo-img {
        //     width: auto;
        //     height: 23px;
        // }
        // .header__menu
        &__menu {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }
        // .header__search
        &__search {
            display: none;
        }
        // .header__phone"
        &__phone {
            width: 100%;
            order: 1;
        }
        // .header__user-menu"
        &__user-menu {
            width: 100%;
            margin-bottom: 20px;
            .collapse-user-menu{
                position: static;
                .list-group{
                    margin-top: 5px;
                    .list-group-item {
                        border: 0;
                        padding: 5px 5px 5px 20px;
                        a{
                            padding: 0;
                        }
                    }
                }
            }
            .collapse-user-menu-action{
                .icon-chevron-bold{
                    display: inline-block;
                    transform: rotate(90deg);
                    transition: 0.2s;
                }
            }
            .collapse-user-menu-action[aria-expanded="true"]{
                .icon-chevron-bold{
                    display: inline-block;
                    transform: rotate(-90deg);
                    transition: 0.2s;
                }
            }
        }
    }
}

.header-menu {
    display: inline-flex;;
    padding: 0 15px;
    // .header-menu__list
    &__list {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
    }
    // .header-menu__item
    &__item {
        list-style-type: none;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 10px;
        margin-right: 10px;
        &:first-child{
            margin-left: 0;
            .header-menu__link{
                padding-left: 0;
            }
        }
        &:last-child{
            margin-right: 0;
            .header-menu__link{
                padding-right: 0;
            }
        }
    }
    // .header-menu__link
    &__link{
        padding: 0 10px;
    }
}

@media(max-width: $lg){
    .header-menu {
        display: block;
        padding: 0;
        // .header-menu__list
        &__list {
            flex-direction: column;
        }
        // .header-menu__item
        &__item {
            margin: 0 0 10px 0;
            color: #000000;
            text-transform: capitalize;
        }
        // .header-menu__link
        &__link{
            padding: 0;
        }
    }
}


.header-mobile {
    background: $blue-dark;
    display: none;
    // .header-mobile__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    // .header-mobile__burger
    &__burger {
        display: inline-flex;
    }
    // .header-mobile__logo
    &__logo {
    }
    // .header-mobile__search
    &__search {
        a{
            color: #FFFFFF;
            &[aria-expanded="true"]{
                color: $red;
            }
        }
        
    }
}

@media(max-width: $lg){
    .header-mobile {
        display: block;
        // .header-mobile__inner
        &__inner {
        }
        // .header-mobile__burger
        &__burger {
        }
        // .header-mobile__logo
        &__logo {
        }
        // .header-mobile__search
        &__search {
        }
    }
}
@media(max-width: $sm){
    .header-mobile {
        // .header-mobile__inner
        &__inner {
        }
        // .header-mobile__burger
        &__burger {
        }
        // .header-mobile__logo
        &__logo {
        }
        // .header-mobile__logo-img
        &__logo-img {
            width: auto;
            height: 30px;
        }
        // .header-mobile__search
        &__search {
        }
    }
}


.header-search {
    position: relative;
    // line-height: 1;
    // .header-search__input
    &__input {

        &::-webkit-search-cancel-button{
            opacity: 0;
        }
        &.form-control{
            // height: 38px;
            // padding: 0.375rem 0.75rem;
        }
    }
    //.header-search__input-group
    &__input-group{
        padding: 15px 0;
        display: none;
        position: absolute;
        right: 40px;
        top: 50%;
        width: 460px;
        transform: translateY(-50%);
        .input-group{
            flex-wrap: nowrap;
        }
    }
    // .header-search__label
    &__label {
    }

    // .header-search__action
    &__action {
        width: 20px;
        height: 20px;
        // .header-search__action_open
        &_open {
        }
        // .header-search__action_close
        &_close {
            color: $red;
            display: none;
        }
    }
    //.header-search__button
    &__button{
        // padding: 0.3rem 0.7rem !important;
        // font-size: 1rem !important;
        // line-height: 1.5 !important;
        // font-weight: 400 !important;
    }
}



@media(max-width: $lg){
    .header-search {
        position: relative;
        // line-height: 1;
        // .header-search__input
        &__input {
            &.form-control{
                // height: 38px;
                // padding: 0.375rem 0.75rem;
            }
        }
        //.header-search__input-group
        &__input-group{
            display: block !important;
            position: static;
            transform: none;
            width: 100%;
        }
        // .header-search__label
        &__label {
            display: none;
        }
        // .header-search__action
        &__action {
            &:hover,
            &:focus{
            }
            // .header-search__action_open
            &_open {
            }
            // .header-search__action_close
            &_close {
            }
        }
        //.header-search__button
        &__button{
        }
    }
}



$icon_width: 20px;
$icon_line_height: 2px;
$icon_space_height: 4px;
$icon_line_border_radius: 3px;

.menu-icon {
    display: inline-block;
    width: $icon_width;
    height: ($icon_line_height*3) + ($icon_space_height*2);
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    // .menu-icon__line
    &__line {
        display: block;
        position: absolute;
        height: $icon_line_height;
        width: 100%;
        background: #FFFFFF;
        border-radius: $icon_line_border_radius;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    &__line:nth-child(1){
        top: 0;
    }
    &__line:nth-child(2),
    &__line:nth-child(3){
        top: $icon_line_height + $icon_space_height;
    }
    &__line:nth-child(4){
        top: ($icon_line_height + $icon_space_height) * 2;
    }
    &[aria-expanded="true"],
    &.active {
        .menu-icon__line{
            background: $red;
        }
        .menu-icon__line:nth-child(1){
            top: $icon_line_height + $icon_space_height;
            width: 0%;
            left: 50%;
        }
        .menu-icon__line:nth-child(2){
            transform: rotate(45deg);
        }
        .menu-icon__line:nth-child(3){
            transform: rotate(-45deg);
        }
        .menu-icon__line:nth-child(4){
            top: $icon_line_height + $icon_space_height;
            width: 0%;
            left: 50%;
        }
    }
}