
        <footer class="footer bg-blue-dark text-white pt-55 pb-30">
            <div class="container">
                <div class="mb-35">
                    <div class="row">
                        <div class="col-lg-3 col-xl-2 offset-xl-1">
    
                            <div>
                                <div class="d-none d-lg-block ff-dinpro fz-18 fw-700 text-uppercase">
                                    Продукты
                                </div>
        
                                <div class="footer-collapse-title d-block d-lg-none ff-dinpro fz-18 py-10 text-uppercase" data-toggle="collapse" data-target="#footer-collapse-1" aria-controls="footer-collapse-1" role="navigation">
                                    Продукты
                                </div>
                            </div>
    
                            <div class="hide d-lg-block collapse" id="footer-collapse-1">
                                <ul class="ul-clean pt-15 pt-lg-30 pr-xl-30">
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Общественные
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Промышленные
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Уличные
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Прожекторы
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Тепличные
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Облучатели
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Аварийные облучатели
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Аппараты
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Системы управления освещением
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-lg-none border-bottom border-white"></div>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-xl-1">
    
                            <div>
                                <div class="d-none d-lg-block ff-dinpro fz-18 fw-700 text-uppercase">
                                    Скачать
                                </div>
        
                                <div class="footer-collapse-title d-block d-lg-none ff-dinpro fz-18 py-10 text-uppercase" data-toggle="collapse" data-target="#footer-collapse-2" aria-controls="footer-collapse-2" role="navigation">
                                    Скачать
                                </div>
                            </div>
    
                            <div class="hide d-lg-block collapse" id="footer-collapse-2">
                                <ul class="ul-clean pt-15 pt-lg-30 pr-xl-30">
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Калькулятор
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Расчет освещения
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Рекламные материалы
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Каталог
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Сертификаты
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Техническая информация
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Нормативные документы
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Видеоматериалы
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Презентации
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-lg-none border-bottom border-white"></div>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-xl-1">
    
                            <div>
                                <div class="d-none d-lg-block ff-dinpro fz-18 fw-700 text-uppercase">
                                    Сотрудничество
                                </div>
        
                                <div class="footer-collapse-title d-block d-lg-none ff-dinpro fz-18 py-10 text-uppercase" data-toggle="collapse" data-target="#footer-collapse-3" aria-controls="footer-collapse-3" role="navigation">
                                    Сотрудничество
                                </div>
                            </div>
    
                            <div class="hide d-lg-block collapse" id="footer-collapse-3">
                                <ul class="ul-clean pt-15 pt-lg-30 pr-xl-30">
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Региональные представительства
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Прайс-лист
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Указания к применению
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Контакты
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Руководство
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Торговые дома
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Дилеры
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-lg-none border-bottom border-white"></div>
                        </div>
                        <div class="col-lg-3 col-xl-2 offset-xl-1">
    
                            <div>
                                <div class="d-none d-lg-block ff-dinpro fz-18 fw-700 text-uppercase">
                                    Компания
                                </div>
        
                                <div class="footer-collapse-title d-block d-lg-none ff-dinpro fz-18 py-10 text-uppercase" data-toggle="collapse" data-target="#footer-collapse-4" aria-controls="footer-collapse-4" role="navigation">
                                    Компания
                                </div>
                            </div>
    
                            <div class="hide d-lg-block collapse" id="footer-collapse-4">
                                <ul class="ul-clean pt-15 pt-lg-30 pr-xl-30">
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            О компании
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Новости
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            История завода
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Награды
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Качество
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Корпоративный стиль
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Вакансии
                                        </a>
                                    </li>
                                    <li class="mb-5 pb-3">
                                        <a href="#">
                                            Клиентам 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-lg-none border-bottom border-white"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-xl-2 order-lg-1">
                        <div class="footer-social d-flex align-items-center mb-15 mb-md-0 pt-lg-10 ml-lg-n10">
                            <a class="footer-social__item" href="#">
                                <span class="icon-telegram"></span>
                            </a>
                            <a class="footer-social__item" href="#">
                                <span class="icon-vkontakte"></span>
                            </a>
                            <a class="footer-social__item" href="#">
                                <span class="icon-facebook"></span>
                            </a>
                            <a class="footer-social__item" href="#">
                                <span class="icon-instagram"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-xl-9 offset-xl-1">
                        <div class="fz-14">
                            <div class="mb-3">
                                <a href="#">Карта сайта</a> | 
                                <a href="#">Политика о конфиденциальности</a> | 
                                <a href="#">Пользовательское соглашение</a>
                            </div>
                            <div>
                                © 2022.ОАО "Ардатовский светотехнический завод
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <script async src="lib/lazysizes/lazysizes.min.js"></script>
        <script defer src="lib/jquery/jquery-3.6.0.min.js"></script>
        <script defer src="lib/bootstrap-4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script defer src="lib/swiper/swiper-bundle.min.js"></script>
        <script defer src="lib/range-slider/js/rSlider.min.js"></script>
        <script defer src="lib/select/select.js"></script>

        <script defer src="js/calculator.js"></script> <!-- Калькулятор освещенности. Желательно подключить только детальной странице товара. Там 5К строк!!! -->

        <script defer src="js/script.js"></script>


        <div class="fixed-bottom text-uppercase text-danger fz-20">
            <div class="d-block d-sm-none">xs</div>
            <div class="d-none d-sm-block d-md-none">sm</div>
            <div class="d-none d-md-block d-lg-none">md</div>
            <div class="d-none d-lg-block d-xl-none">lg</div>
            <div class="d-none d-xl-block">xl</div>
        </div>