<header class="header">

    <div class="header__mobile header-mobile">
        <div class="container">
            <div class="header-mobile__inner">

                <div class="header-mobile__burger">
                    <a class="menu-icon" data-toggle="collapse" href="#collapse-header" role="button" aria-expanded="false" aria-controls="collapse-header" aria-label="Открыть форму поиска">
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line"></span>
                    </a>
                </div>
                <div class="header-mobile__logo">
                    <a href="/" aria-label="АО Ардатовский светотехнический завод">
                        <img class="header-mobile__logo-img lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/common/logo.svg" alt="АО Ардатовский светотехнический завод">
                    </a>
                </div>
                <div class="header-mobile__search">
                    <a data-toggle="collapse" href="#collapse-search" role="button" aria-expanded="false" aria-controls="collapse-search" aria-label="Открыть форму поиска">
                        <span class="icon-search fz-20 lh-1 align-middle"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container position-relative">

        <div class="collapse hide" id="collapse-search">
            <div id="js-migrate-search-mobile">

            </div>
        </div>

        <div class="header-collapse collapse hide d-lg-block" id="collapse-header">
            <div class="header__inner">

                <div class="header__logo">
                    <a class="d-inline-block py-2" href="/" aria-label="АО Ардатовский светотехнический завод">
                        <img width="234px" height="47px" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/common/logo.svg" alt="АО Ардатовский светотехнический завод">
                    </a>
                </div>

                <div class="header__menu">
                    <nav class="header-menu header-stretch" aria-label="Главное меню">
                        <ul class="header-menu__list">
                            <li class="header-menu__item text-red">
                                <a href="#" class="header-menu__link">Продукция</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Применение</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Скачать</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Где купить</a>
                            </li>
                            <li class="header-menu__item">
                                <a href="#" class="header-menu__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header__search">
                    <div class="header-search header-stretch">
                        <div class="migrate-search-desctop" id="js-migrate-search-desctop">
                            <div id="js-migrate-search-target">

                                <div id="js-header-search-wrapper" class="lh-1">
                                    <form action="ACTION" method="get">
                                        <div class="header-search__input-group" id="js-header-search-target">
                                            <div class="input-group">
                                                <input class="header-search__input form-control" id="site-search" type="search" name="q" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
                                                <div class="input-group-append">
                                                    <button class="header-search__button btn btn-red" type="button">Поиск</button>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="header-search__label m-0" id="js-header-search-action">
                                            <span class="header-search__action header-search__action_open icon-search fz-20 lh-1 align-middle" id="js-header-search-open"></span>
                                            <span class="header-search__action header-search__action_close icon-cross-thin fz-20 lh-1 align-middle" id="js-header-search-close"></span>
                                        </a>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="header__phone">
                    <div class="header-stretch">
                        <span class="d-lg-none mr-10">Телефон:</span>
                        <a class="ff-dinpro fz-19 fw-700 text-nowrap" href="tel:88005509112">
                            8 800 550 9112
                        </a>
                    </div>
                </div>

                <div class="header__user-menu">
                    <div class="header-stretch">
                        <div>
                            <a class="collapse-user-menu-action" data-toggle="collapse" href="#collapse-user-menu" role="button" aria-expanded="false" aria-controls="collapse-user-menu">
                                <span class="icon-menu d-none d-lg-inline-block fz-25 lh-1 align-middle"></span>
                                <span class="d-lg-none">
                                    <span class="mr-10">Меню пользователя</span><span class="icon-chevron-bold fz-12"></span>
                                </span>
                            </a>
                            <nav class="collapse collapse-user-menu" id="collapse-user-menu" aria-label="Меню пользователя">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="#">Cras justo odio</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">Dapibus ac facilisis in</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">Morbi leo risus</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">Porta ac consectetur ac</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">Vestibulum at eros</a>
                                    </li>
                                  </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>