<header class="header">
    <div class="container">
        <div class="header__inner">
            
            <div class="header__drop-action-mobile">
                <div class="header-stretch">
                    <a class="menu-icon" data-toggle="collapse" href="#collapse-drop-menu" role="button" aria-expanded="false" aria-controls="collapse-drop-menu" aria-label="Открыть форму поиска">
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line"></span>
                    </a>
                </div>
            </div>

            <div class="header__logo">
                <a class="d-inline-block py-2" href="/" aria-label="АО Ардатовский светотехнический завод">
                    <img width="234" height="47" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/common/logo.svg" alt="АО Ардатовский светотехнический завод">
                </a>
            </div>

            <div class="header__menu">
                <nav class="header-menu header-stretch" aria-label="Главное меню">
                    <ul class="header-menu__list">
                        <li class="header-menu__item text-red">
                            <a href="#" class="header-menu__link">Продукция</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#" class="header-menu__link">Применение</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#" class="header-menu__link">Скачать</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#" class="header-menu__link">Где купить</a>
                        </li>
                        <li class="header-menu__item">
                            <a href="#" class="header-menu__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
    
            <div class="header__search">
                <div class="header-search header-stretch">
                    <div class="migrate-search-desctop" id="js-migrate-search-desctop">
                        <div id="js-migrate-search-target">
    
                            <div id="js-header-search-wrapper" class="lh-1">
                                <form action="ACTION" method="get">
                                    <div class="header-search__input-group" id="js-header-search-target">
                                        <div class="input-group">
                                            <input class="header-search__input form-control" id="site-search" type="search" name="q" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
                                            <div class="input-group-append">
                                                <button class="header-search__button btn btn-red" type="button">Поиск</button>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0)" class="header-search__label m-0" id="js-header-search-action">
                                        <span class="header-search__action header-search__action_open icon-search fz-20 lh-1 align-middle" id="js-header-search-open"></span>
                                        <span class="header-search__action header-search__action_close icon-cross-thin fz-20 lh-1 align-middle" id="js-header-search-close"></span>
                                    </a>
                                </form>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="header__phone">
                <div class="header-stretch">
                    <span class="d-lg-none mr-10">Телефон:</span>
                    <a class="ff-dinpro fz-19 fw-700 text-nowrap" href="tel:88005509112">
                        8 800 550 9112
                    </a>
                </div>
            </div>
    
            <div class="header__drop-action">
                <div class="header-stretch">
                    <a class="header-collapse-action" data-toggle="collapse" href="#collapse-drop-menu" role="button" aria-expanded="false" aria-controls="collapse-drop-menu" aria-label="Дополнительное меню">
                        <span class="icon-menu d-none d-lg-inline-block fz-25 lh-1 align-middle"></span>
                    </a>
                </div>
            </div>

            <div class="header__search-action-mobile">
                <div class="header-stretch">
                    <a class="header-collapse-action" data-toggle="collapse" href="#collapse-search" role="button" aria-expanded="false" aria-controls="collapse-search" aria-label="Открыть форму поиска">
                        <span class="icon-search fz-20 lh-1 align-middle"></span>
                    </a>
                </div>
            </div>
    
        </div>
    </div>

    <div class="header__drop">

        <div class="collapse hide" id="collapse-search">
            <div class="container">
                <div id="js-migrate-search-mobile">
    
                </div>
            </div>
        </div>
        <div class="collapse collapse-drop-menu" id="collapse-drop-menu" aria-label="Меню пользователя">
            <div class="header-drop scrollbar">

                <a class="header-drop__close" data-toggle="collapse" href="#collapse-drop-menu" role="button" aria-expanded="false" aria-controls="collapse-drop-menu" aria-label="Закрыть дополнительное меню">
                    <span class="icon-close fz-30 lh-1 align-middle"></span>
                </a>


                <div class="header-drop__inner">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="header-drop__menu">
                                <li>
                                    <a class="text-red" href="#">Продукция</a>
                                </li>
                                <li>
                                    <a href="#">Применение</a>
                                </li>
                                <li>
                                    <a href="#">Скачать</a>
                                </li>
                                <li>
                                    <a href="#">Где купить</a>
                                </li>
                                <li>
                                    <a href="#">Контакты</a>
                                </li>
                            </ul>
                            <div class="header-drop__company mb-30 mb-sm-0">
                                <div class="header-drop__company-title">
                                    Компания
                                </div>
                                <div class="header-drop__company-address">
                                    431890, Республика Мордовия, <br>
                                    Ардатовский район, р.п. Тургенево, <br>
                                    ул. Заводская, 73
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                
                            <div class="mb-20 d-inline-block">
                                <a class="header-drop__button collapse-action" data-toggle="collapse" href="#collapse-lang" role="button" aria-expanded="false" aria-controls="collapse-lang">
                                    <div>
                                        <img class="mr-20" width="33" height="22" src="img/common/lang-ru.svg" alt="Русский язык"><strong class="mr-15">Русский</strong><span class="collapse-caret icon-chevron-bold"></span>
                                    </div>
                                </a>
                                <div class="collapse" id="collapse-lang">
                                    <a href="#" class="header-drop__button mt-5">
                                        <div>
                                            <img class="mr-20" width="33" height="22" src="img/common/lang-en.svg" alt="English language"><strong class="mr-20">English</strong>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="mb-35 mb-md-85">
                                <a href="#" class="">
                                    <div class="header-drop__button">
                                        <img class="mr-20" width="33" height="22" src="img/common/user.svg" alt="English language"><strong class="mr-20">Регистрация</strong>
                                    </div>
                                </a>
                            </div>

                            <div class="header-social d-flex align-items-center mb-25 mb-md-90">
                                <a class="header-social__item" href="#">
                                    <span class="icon-telegram"></span>
                                </a>
                                <a class="header-social__item" href="#">
                                    <span class="icon-vkontakte"></span>
                                </a>
                                <a class="header-social__item" href="#">
                                    <span class="icon-facebook"></span>
                                </a>
                                <a class="header-social__item" href="#">
                                    <span class="icon-instagram"></span>
                                </a>
                            </div>

                            <div class="mb-5">
                                <a class="header-drop__email" href="mailto:mirsveta@astz.ru">mirsveta@astz.ru</a>
                            </div>
                            <div>
                                <a class="header-drop__phone" href="tel:88005509112">8 800 550 9112</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</header>