<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>@@title</title>
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="icon" type="image/png" href="img/favicon/favicon.png">
<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">

<link rel="stylesheet" href="lib/bootstrap-4.6.1/dist/css/bootstrap.min.css" media="all">
<link rel="stylesheet" href="lib/icomoon-v1.0/style.css" media="all">
<link rel="stylesheet" href="lib/swiper/swiper-bundle.min.css" media="all">
<link rel="stylesheet" href="lib/range-slider/css/rSlider.min.css" media="all">


<link rel="stylesheet" href="css/style.css" media="all">


<link rel="preload" as="font" href="fonts/Arial/Arial-Regular.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/Arial/Arial-Bold.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/DINPro/DINPro-Medium.woff" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="fonts/DINPro/DINPro-Bold.woff" type="font/woff2" crossorigin>